:root {
    --base-size: 240px;
}

body {
    font-family: Lato;
    margin:0;
    background-color: var(--background-color);
}

.header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 100000010;
}

.header-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px;
}

.header-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 22px;
    font-weight: 300;
    padding: 15px;
}

.header-actions button, .header-actions a {
    appearance: none;
    border: 1px solid var(--header-menu-border-color);
    border-radius: 3px;
    background-color: var(--header-menu-background-color);
    color: var(--header-menu-foreground-color);
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.header-actions button:hover, .header-actions a:hover {
    border: 1px solid var(--header-menu-border-hover-color);
    background-color: var(--header-menu-background-hover-color);
}

.header-actions button i, .header-actions a i {
    margin-right: 8px;
    display: inline-block;
}

.menu {
    padding: 0;
    background-color: var(--menu-background-color);
    text-align: center;
    font-size: 0;
    position: fixed;
    width: 100%;
    z-index: 100000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.menu button, .menu a {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    border: none;
    border-right: 0.5px solid var(--menu-border-color);
    color: var(--menu-foreground-color);
    margin: 0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: top;
}

.menu button:first-of-type, .menu a:first-of-type {
    border-left: 0.5px solid var(--menu-border-color);
}

.menu .menuicon {
    font-size: 25px;
    margin-bottom: 10px;
}

.menu button:hover, .menu a:hover {
    color: var(--menu-foreground-hover-color);
    background: var(--menu-background-hover-color);
    text-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,1);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,1);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.0);
  border: 0px none #ffffff;
  border-radius: 21px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#overview-chart-area-container {
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.w1h1 .chart-container, .w2h1 .chart-container {
    height: calc(100% - 52px);
    display: inline-block;
    position: relative;
    width: 100%;
}

.centre-percent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 24px));
    font-size: 34px;
}

.centre-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50%));
    font-size: 10px;
}
#cpu-chart-area-container, #load-chart-area-container, #memory-chart-area-container, #traffic-chart-area-container, #diskrw-chart-area-container {
    width: 100%;
    height: calc(100% - 42px);
    display: inline-block;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.named-anchor {
    display: block;
    position: relative;
    top: -162px;
    visibility: hidden;
}

.menu-bump {
    height: 82px;
    display: block;
    box-sizing: border-box;
}

.header-bump {
    height: 80px;
    display: block;
    box-sizing: border-box;
}

.status-green {
    color: var(--color-green);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-red {
    color: var(--color-red);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-orange {
    color: var(--color-orange);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-grey {
    color: var(--color-grey);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-blue {
    color: var(--color-blue);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
