:root {
    --base-size: 240px;
}

body {
    font-family: Lato;
    margin:0;
    background-color: var(--background-color);
}

.header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 100000010;
}

.header-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px;
}

.header-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 22px;
    font-weight: 300;
    padding: 15px;
}

.header-actions button, .header-actions a {
    appearance: none;
    border: 1px solid var(--header-menu-border-color);
    border-radius: 3px;
    background-color: var(--header-menu-background-color);
    color: var(--header-menu-foreground-color);
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.header-actions button:hover, .header-actions a:hover {
    border: 1px solid var(--header-menu-border-hover-color);
    background-color: var(--header-menu-background-hover-color);
}

.header-actions button i, .header-actions a i {
    margin-right: 8px;
    display: inline-block;
}

.menu {
    padding: 0;
    background-color: var(--menu-background-color);
    text-align: center;
    font-size: 0;
    position: fixed;
    width: 100%;
    z-index: 100000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.menu button, .menu a {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    border: none;
    border-right: 0.5px solid var(--menu-border-color);
    color: var(--menu-foreground-color);
    margin: 0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: top;
}

.menu button:first-of-type, .menu a:first-of-type {
    border-left: 0.5px solid var(--menu-border-color);
}

.menu .menuicon {
    font-size: 25px;
    margin-bottom: 10px;
}

.menu button:hover, .menu a:hover {
    color: var(--menu-foreground-hover-color);
    background: var(--menu-background-hover-color);
    text-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.widget-grid {
    font-size: 0;
    width: 80%;
    margin: auto;
    min-width: 800px;
    border: 0.5px solid rgba(0,0,0,0.15);
    border-top:0;
    border-bottom:0;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
}
.widget-grid-item {
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}
.widget-grid-item-inner {
    border: 0.5px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    font-size: 0;
    margin-bottom: 42px;
}
.w1h1 {
    width: var(--base-size);
    height: var(--base-size);
}
.w1h2 {
    width: var(--base-size);
    height: calc( 2 * var(--base-size) );
}
.w2h2 {
    width: calc( 2 * var(--base-size) );
    height: calc( 2 * var(--base-size) );
}
.w2h1 {
    width: calc( 2 * var(--base-size) );
    height: var(--base-size);
}
.w3h2 {
    width: calc( 3 * var(--base-size) );
    height: calc( 2 * var(--base-size) );
}
.w4h2 {
    width: calc( 4 * var(--base-size) );
    height: calc( 2 * var(--base-size) );
}
.w3h1 {
    width: calc( 3 * var(--base-size) );
    height: var(--base-size);
}
.w4h1 {
    width: calc( 4 * var(--base-size) );
    height: var(--base-size);
}

.widget-grid-item h1 {
    font-size: 18px;
    color: white;
    background: rgba(0,0,0,0.7);
    margin:0;
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.widget-grid-item h1 i {
    padding-right: 12px;
}
.widget-grid-item-inner .data-table {
    width: 100%;
    display: flex;
    flex-flow: column;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(0,0,0,0.06);
    height: calc(100% - 42px);
}
.widget-grid-header {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 200;
    border: 0.5px solid rgba(0,0,0,0.1);
    border-left: none;
    border-right: none;
    background-color: white;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,1);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,1);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.0);
  border: 0px none #ffffff;
  border-radius: 21px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0.0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.info-table td, .info-table th {
    padding: 8px 10px;
}
.data-table thead {
    flex: 0 0 auto;
    width: 100%;
}
.data-table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 36px);
}
.data-table tbody tr {
    width: 100%;
}
.data-table thead, .data-table tbody tr {
    display: table;
    table-layout: fixed;
}
.data-table th,.data-table td {
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,0.06);
    text-align: right;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.data-table th.narrow, .data-table td.narrow {
    width: 15px;
    text-align: center;
}
.data-table th.small, .data-table td.small {
    width: 44px;
}
.data-table th.medium, .data-table td.medium {
    width: 55px;
}
.data-table th.mediumplus, .data-table td.mediumplus {
    width: 80px;
}
.data-table th:first-of-type,.data-table td:first-of-type {
    text-align: left;
}
.data-table tr:nth-child(odd) {
    background: rgba(0,0,0,0.06);
    margin:0;
}
.data-table thead tr {
    background: rgba(0,0,0,0.0) !important;
    margin:0;
}
.info-table {
    width: 50%;
    display: inline-block;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.data-table th {
    border: 0;
    border-bottom: 2px solid #4f4f4f;
}
#overview-chart-area-container {
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.w1h1 .chart-container, .w2h1 .chart-container {
    height: calc(100% - 52px);
    display: inline-block;
    position: relative;
    width: 100%;
}

.centre-percent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 24px));
    font-size: 34px;
}

.centre-label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50%));
    font-size: 10px;
}
#cpu-chart-area-container, #load-chart-area-container, #memory-chart-area-container, #traffic-chart-area-container, #diskrw-chart-area-container {
    width: 100%;
    height: calc(100% - 42px);
    display: inline-block;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.widget-grid-header i {
    margin-right: 10px;
}

.named-anchor {
    display: block;
    position: relative;
    top: -162px;
    visibility: hidden;
}

.menu-bump {
    height: 82px;
    display: block;
    box-sizing: border-box;
}

.header-bump {
    height: 80px;
    display: block;
    box-sizing: border-box;
}

.status-green {
    color: #21b34e;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-red {
    color: #b33532;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-orange {
    color: rgba(255, 216, 91, 1);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-grey {
    color: #b6b6b6;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.status-blue {
    color: rgba(88, 174, 255, 1);
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logselect {
    width:calc(20% - 20px);
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:20px;
    display:inline-block;
    vertical-align: top;
    height: calc(100% - 40px);
    border: 1px solid rgba(140,140,140,0.2);
    box-sizing: border-box;
    border-right:none;
}

.logfile {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    display:block;
    vertical-align: top;
    width: 100%;
    margin:0;
    padding: 10px 14px;
    text-align: left;
    cursor:pointer;
    position: relative;
}

.logfile:hover {
    background: rgba(0,0,0,0.03);
}

.logfile:hover::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    position: absolute;
    right: 10px;
}

.log-content {
    display:inline-block;
    vertical-align: top;
    border: 1px solid rgba(140,140,140,0.2);
    margin-right: 20px;
    margin-top:20px;
    margin-bottom:20px;
    padding: 12px;
    font-family: monospace;
    height: calc(100% - 40px);
    box-sizing: border-box;
    background-color: rgba(140,140,140,0.05);
    box-shadow: 4px rgba(255,255,255,1) inset;
    font-size: 12px;
    overflow: auto;
    width:calc(80% - 20px);
}

.logend {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background-color: rgb(255, 99, 132);
    color: white;
    font-size: 44px;
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.logend:hover {
    background-color: rgb(255, 130, 153);
}

.logend:active {
    right: 30px;
    bottom: 27px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.4);
}

.power-menu::before {
    content: " ";
    display: block;
    border: 15px solid rgba(0,0,0,0.9);
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    top: -30px;
    left: calc(50% - 15px);
}

.power-menu {
    display: none;
    position: fixed;
    z-index: 100000010;
    top: 70px;
    right: 30px;
    background: rgba(0,0,0,0.9);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    width: 320px;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%;
    height: 40px;
    background: #373737;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    width: 70%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    box-sizing: border-box;
    margin: 0;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: rgb(255, 85, 105); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 20px;
    content: "<i class="fas fa-power-off"></i>";
}

.slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: rgb(255, 85, 105); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 20px;
}

.power-row + .power-row {
    margin-top: 20px;
}
.power-row {
    align-items: center;
    display: flex;
}

.power-menu label {
    width: 30%;
    color: white;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.3;
}
