:root {

        --color-red: rgba(222,60,60,1);
        --color-orange: rgba(240,120,16,1);
        --color-yellow: rgba(249,206,0,1);
        --color-green: rgba(146, 202, 62, 1);
        --color-blue: rgba(55, 174, 216, 1);
        --color-purple: rgba(155, 43, 119, 1);
        --color-grey: rgba(116,130,143,1);
        --color-pink: rgba(237, 105, 125, 1);

        --foreground-color: white;
        --background-color: #3b444b;

        --header-foreground-color: white;
        --header-background-color: #353839;

        --header-menu-foreground-color: white;
        --header-menu-background-color: #414a4c;
        --header-menu-border-color: rgba(255,255,255,0.1);

        --header-menu-foreground-hover-color: #414a4c;
        --header-menu-background-hover-color: white;
        --header-menu-border-hover-color: rgba(255,255,255,0.15);

        --menu-foreground-color: white;
        --menu-background-color: #414a4c;
        --menu-border-color: rgba(0,0,0,0.4);

        --menu-foreground-hover-color: #414a4c;
        --menu-background-hover-color: white;
        --menu-border-hover-color: rgba(0,0,0,0.4);

        --section-header-foreground-color: white;
        --section-header-background-color: white;

        --widget-header-foreground-color: white;
        --widget-header-background-color: #353839;
        --widget-header-font-weight: 400;

        --widget-foreground-color: white;
        --widget-background-color: #414a4c;
        --widget-border-color: white;

        --widget-grid-item-foreground-color: white; 
        --widget-grid-item-background-color: #323232;

        --table-odd-row-color: white;
        --table-even-row-color: white;
        --table-border-color: white;

        --table-data-foreground-color: white;
        --table-info-foreground-color: white;

}

